.App {
    margin: auto;
    width: 1000dvh;
}
.material-icons{
    display: inline-flex;
    color: #363636;
}
.fa{
    font-size: 26px;
}
#home{
    font-size: 40px;
    color: #000;
}
.nav{
    width: 100%;
    border: 5px solid ; 
    border-radius: 50px;  
}